@font-face {
    font-family: 'Balloons!';
    src: url('/fonts/Balloons.woff2') format('woff2'),
        url('/fonts/Balloons.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'amyshandwriting';
    src: url('/fonts/amyshandwriting.woff2') format('woff2'),
        url('/fonts/amyshandwriting.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: 'Balloon!';
}

body {
    background-color: #EFD3D7;
}
h1{
    font-family: 'Balloons!';
    color: #e4a0b4;
    text-align: center;
    font-size: 4rem;
}

nav {
   width: 100%;
   padding: 25px;
   margin: auto;
   display: flex;
   align-items: right;
   background-color: #e4a0b4;
    
}
nav a{
    text-decoration: none;
    text-transform: uppercase;
    color: #EFD3D7;
    font-weight: 800;
    font-family: 'amyshandwriting';
    align-items: right;
    font-size: 1.2em;
    padding: 10px;
}
nav a:hover{
    background: #EFD3D7;
    transition: 0.5s;
    font-family: 'amyshandwriting';
    border-radius: 25%;
}

a:hover{
    background: white;
    transition: 0.5s;
    font-family: 'amyshandwriting';

}
nav a:hover{
    color: #e4a0b4;
    font-family: 'amyshandwriting';

}
img {
    display: block;
    margin-left: 37%;
    margin-right: auto;
    position: absolute;
    top: 20%;
}
#box1{
    width:400px;
	height:600px;
	margin:60px;
	padding:20px;
    background-color: #e4a0b4;
    border-radius: 25px;
    position: absolute;
    top: 10%;
}
h2 {
    font-family: 'amyshandwriting';
    color: #EFD3D7;
    font-size: 1.6rem;
}
#box2{
    width:400px;
	height:600px;
	margin:60px;
	padding:20px;
    background-color: #e4a0b4;
    border-radius: 25px;
    position: absolute;
    top: 10%;
    right: 0%;
}
h3{
    font-family: 'Balloons!';
    color: #e4a0b4;
    text-align: center;
    font-size: 4rem;
}
h2 li {
    font-family: 'amyshandwriting';
}
#box3{
    width:300px;
	height:250px;
	margin:60px;
	padding:20px;
    background-color: #e4a0b4;
    border-radius: 25px;
    position: absolute;
    top: 15%;
    right: 70%;
}
#box4{
    width:300px;
	height:250px;
	margin:60px;
	padding:20px;
    background-color: #e4a0b4;
    border-radius: 25px;
    position: absolute;
    top: 15%;
    right: 47%;
}
#box5{
    width:300px;
	height:250px;
	margin:60px;
	padding:20px;
    background-color: #e4a0b4;
    border-radius: 25px;
    position: absolute;
    top: 15%;
    right: 24%;
}
#box6{
    width:300px;
	height:250px;
	margin:60px;
	padding:20px;
    background-color: #e4a0b4;
    border-radius: 25px;
    position: absolute;
    top: 15%;
    right: 1%;
}
/* bottom boxes*/
#box7{
    width:300px;
	height:250px;
	margin:60px;
	padding:20px;
    background-color: #e4a0b4;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    right: 47%;
}
#box8{
    width:300px;
	height:250px;
	margin:60px;
	padding:20px;
    background-color: #e4a0b4;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    right: 24%;
}
#img1 {
    display: block;
    margin-left: 37%;
    margin-right: auto;
    position: absolute;
    top: 55%;
    right: 25%;
}
#img2 {
    display: block;
    margin-left: 37%;
    margin-right: auto;
    position: absolute;
    top: 50%;
    right: 99%;
}